@font-face {
  font-family: "fonticon";
  src: url("../../fonts/fonticon.eot?si6tlf");
  src: url("../../fonts/fonticon.eot?si6tlf#iefix") format("embedded-opentype"), url("../../fonts/fonticon.ttf?si6tlf") format("truetype"), url("../../fonts/fonticon.woff?si6tlf") format("woff"), url("../../fonts/fonticon.svg?si6tlf#fonticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 24px;
}

.anime {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: url(./images/dva-anime-1.png);
  background-repeat: no-repeat;
  background-size: max(40vw, 45vh);
  background-position: right bottom;
  transition: background-image ease 200ms;
}
.window--deactivated .anime {
  background-image: url(./images/dva-anime-2.png);
}

div.window-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  -webkit-app-region: no-drag;
}
.window__titlbar--shown div.window-controls {
  display: none;
}

div.window-controls > button {
  width: 3em;
  height: 3em;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
  font-family: "fonticon" !important;
  color: rgba(255, 255, 255, 0.6666666667);
  outline: none;
}
div.window-controls > button.group {
  margin-left: 1em;
}
div.window-controls > button:hover {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.1882352941);
}
div.window-controls > button:active {
  background-color: rgba(51, 51, 51, 0.3137254902);
}
div.window-controls > button.close:after {
  content: "\e903";
}
div.window-controls > button.close:hover {
  color: #fff;
  background-color: #e51e17;
}
div.window-controls > button.close:active {
  background-color: #cc0002;
}
div.window-controls > button.language:after {
  content: "\e905";
}
div.window-controls > button.fullscreen:after {
  content: "\e904";
}
.window--fullscreen div.window-controls > button.fullscreen:after {
  content: "\e906";
}

.window--fullscreen div.window-controls > button.minimize {
  display: none;
}

div.window-controls > button.minimize:after {
  content: "\e901";
}
.window--fullscreen div.window-controls > button.maximize {
  display: none;
}

div.window-controls > button.maximize:after {
  content: "\e902";
}
.window--maximized div.window-controls > button.maximize:after {
  content: "\e900";
}

body > header {
  height: 35vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-app-region: drag;
  background-color: rgba(255, 61, 177, 0.3764705882);
  font-weight: 600;
  color: #fff;
  padding: 0em 1em;
  transition: background-color ease 200ms;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.window--deactivated body > header {
  background-color: rgba(175, 175, 175, 0.5647058824);
}

body > header .dva-logo {
  width: 200px;
  height: 200px;
  background-image: url(./images/dva-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all ease 200ms;
}
.window--deactivated body > header .dva-logo {
  filter: grayscale(1);
}

body > header .dva-intro > h1 {
  background-image: linear-gradient(#fff 40%, #f00090);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-weight: 600;
}
body > header .dva-intro > h2 {
  color: rgba(255, 255, 255, 0.9333333333);
  font-weight: 300;
  margin: 0;
  font-size: 1.2em;
}
body > main {
  position: absolute;
  background-color: #fff;
  top: 35vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/dva-anime-1.png);
  background-repeat: no-repeat;
  background-size: max(40vw, 45vh);
  background-position: right bottom;
  overflow-y: auto;
  padding: 0.5em min(55vw, 60vh) 0.5em 1em;
  box-sizing: border-box;
  transition: background-image ease 200ms;
}
.window--deactivated body > main {
  background-image: url(./images/dva-anime-2.png);
}

body > main > section h3 {
  font-weight: 600;
  color: #db3599;
  margin: 0.5em 0;
  font-size: 1.2em;
}
body > main > section p {
  color: #444;
  margin: 0.5em 0;
  font-size: 0.8em;
}
body > main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body > main::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  -webkit-transition: background-color ease 200ms;
  transition: background-color ease 200ms;
}
body > main::-webkit-scrollbar-thumb:active, body > main::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #aaa;
}